/.git/
/.idea/
/node_modules
/public/hot
/public/storage
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
package-lock.json
yarn.lock

*.log

/storage/framework/sessions/*
!/storage/framework/sessions/.gitkeep
/storage/framework/views/*
!/storage/framework/views/.gitkeep
/storage/framework/cache/*
!/storage/framework/cache/.gitkeep
